{% extends 'full-width.html.twig' %}

{% block main_column %}
<h1>Welcome</h1>
<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
<hr>
<h3>Event hours</h3>

{% if eventHours %}
	<table class="event-hours table">
		<tr class="header">
	{% for day in days %}
		<th><span class="day-name">{{ day }}</span></th>
	{% endfor %}
		</tr>
		<tr  class="content">
			<td>
	{% set day = 1 %}
	{% for eventHour in eventHours %}
		{% if day!=eventHour.getDay() %}
			{% set day = eventHour.getDay() %}
			</td>
			<td>
		{% endif %}
				<div class="event-hour">
					<a href="{{ path('view_event', {'id': eventHour.getEvent().getId()}) }}" class="title">{{ eventHour.getEvent().getTitle() }}</a>
					<a href="" class="trainer">{{ eventHour.getTrainer().getUsername() }}</a>
					<span class="start">{{ eventHour.start()|date('H:i') }}</span>
					<span clas="separate">-</span>
					<span class="end">{{ eventHour.end()|date('H:i') }}</span>
				</div>				
	{% endfor %}
			</td>
		</tr>
	</table>
{% endif %}

{% if eventHours %}
	{% set day = '' %}
	<ul class="event-hours">
	{% for eventHour in eventHours %}
		
		{% if day=='' or  day!=eventHour.getDayName() %}
			{% set day = eventHour.getDayName() %}
			<li class="day">
				<span>{{ eventHour.getDayName() }}</span>
			</li>
		{% endif %}
		
		{# display event hour #}
		<li class="event-hour">
			<a href="{{ path('view_event', {'id': eventHour.getEvent().getId()}) }}" class="event-hour-title">{{ eventHour.getEvent().getTitle() }}</a>
			<a href="" class="trainer">{{ eventHour.getTrainer().getUsername() }}</a>
			<span class="event-hour-start-end">
				{{ eventHour.start()|date('H:i') }} - {{ eventHour.end()|date('H:i') }}
			</span>
		</li>
	{% endfor %}
	</ul>
{% endif %}

{% if collapsibleAreaArray %}
	{% for collapsibleArea in collapsibleAreaArray %}
		{{ include('components/collapsible-area.html.twig') }}
	{% endfor %}
{% endif %}

{% endblock %}

{% block sidebar_column %}
<p><a href="#">Link</a></p>
{% endblock %}

{% block footer_row %}
  <p>Footer Text</p>
{% endblock %}