{% extends 'base.html.twig' %}

{% block main_column %}
	
	<h3>List of hours for event: {{ event.title }}</h3>
	<table class="table table-striped">
		<thead>
			<tr>
				<th>ID</th>
				<th>Start</th>
				<th>End</th>
				<th>Duration</th>
				<th>Description</th>
				<th>Location</th>
				<th>Actions</th>
			</tr>
		</thead>
		<tbody>
			{% for hour in hours %}
			<tr>
				<td>{{ hour.id }}</td>
				<td>{{ hour.start|date('d-m-Y H:i:s') }}</td>
				<td>{{ hour.end|date('d-m-Y H:i:s') }}</td>
				<td>{{ hour.duration }}</td>
				<td>{{ hour.description }}</td>
				<td>{{ hour.location }}</td>
				<td>
					<a type="button" href="{{ path('edit_event', { 'id': event.id }) }}" class="btn btn-primary">Edit</a>
					<a type="button" href="{{ path('delete_event', { 'id': event.id }) }}" class="btn btn-danger">Delete</a>
				</td>
			</tr>
			{% endfor %}
		</tbody>
	</table>
	
{% endblock %}
