{% extends 'full-width.html.twig' %}

{% block main_column %}
	
	<h3>List of hours for event: {{ event.title }}</h3>
	<table class="table table-striped">
		<thead>
			<tr>
				<th>ID</th>
				<th>Start</th>
				<th>End</th>
				<th>Day</th>
				<th>Description</th>				
				<th>Actions</th>
			</tr>
		</thead>
		<tbody>
			{% for hour in hours %}
			<tr>
				<td>{{ hour.id }}</td>
				<td>{{ hour.start|date('H:i') }}</td>
				<td>{{ hour.end|date('H:i') }}</td>
				<td>{{ hour.dayName() }}</td>
				<td>{{ hour.description }}</td>
				<td>
					<a type="button" href="{{ path('edit_event_hour', { 'id': hour.id }) }}" class="btn btn-primary">Edit</a>
					<a type="button" href="{{ path('delete_event_hour', { 'id': hour.id }) }}" class="btn btn-danger">Delete</a>
				</td>
			</tr>
			{% endfor %}
		</tbody>
	</table>
		
	<a type="button" href="{{ path('create_event_hour', { 'event_id': event.id }) }}" class="btn btn-primary">Create</a>
	
{% endblock %}
